/* we assume our data model is akin to this:

        'Tidsmerke',
      'Type(r) lopper',
      'Informasjon om loppene',
      'Navn på kontaktperson',
      'Adresse for henting',
      'Telefonnummer',
      'Hentetidspunkt (kryss av så mange du kan)',
      'Størrelse',
      'status',
      'kvalitet',
      'koordinater',
      'hentesav',
      'admkom',
      'jobnr'

To operate on arrays, we define some constants the rest of the code
can use. To customize the site to adapt to your particular Google
sheet, rename this file to headerconstants.js (it will be ignored by Git)
and change the values below to match your spreadsheet.

The jobnr is an important part, however - it is the stable identifier for a row.

*/

const TIMESTAMP = 0;
const TYPES = 1;
const DESC = 2;
const CONTACT_PERSON = 3;
const ADDRESS = 4;
const PHONE = 5;
const PICKUP_DAYS = 6;
const SIZE = 7;
const STATUS = 8;
const QUALITY = 9;
const COORDS = 10;
const ASSIGNEE = 11;
const ADMCOMMENT = 12;
const JOBNR = 13;

module.exports = {
      TIMESTAMP,
      TYPES,
      DESC,
      CONTACT_PERSON,
      ADDRESS,
      PHONE,
      PICKUP_DAYS,
      SIZE,
      STATUS,
      QUALITY,
      COORDS,
      ASSIGNEE,
      ADMCOMMENT,
      JOBNR,
};
